<div class="container">
  <h1 class="text-center">{{ title }}</h1>
  <div class="row">
    <!-- form -->
    <div class="col-md-4">
      <h3 class="text-center">Dados</h3>
      <form [formGroup]="form">
        <div class="form-group">
          <label for="nome">Nome do aluno</label>
          <input type="text" class="form-control" formControlName="nome">
          <small class="text-danger" *ngIf="form.controls.nome.invalid && !form.controls.nome.pristine">
            Este campo deve conter entre 3 e 60 caracteres<br>
          </small>
        </div>
        <div class="form-group">
          <label for="prova1">Nota da prova 1</label>
          <input type="text" class="form-control" formControlName="prova1">
          <small class="text-danger" *ngIf="form.controls.prova1.invalid && !form.controls.prova1.pristine">
            Valor inválido para a nota<br>
          </small>
        </div>
        <div class="form-group">
          <label for="prova2">Nota da prova 2</label>
          <input type="text" class="form-control" formControlName="prova2">
          <small class="text-danger" *ngIf="form.controls.prova2.invalid && !form.controls.prova2.pristine">
            Valor inválido para a nota<br>
          </small>
        </div>
        <button type="button" class="btn btn-primary btn-block" [disabled]="form.invalid" (click)="submit()">Salvar</button>
      </form>
    </div>
    
    <!-- lista dos alunos -->
    <div class="col-md-8">
      <h3 class="text-center">Lista de Alunos</h3>
      <table class="table">
        <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Nota da prova 1</th>
            <th scope="col">Nota da prova 2</th>
            <th scope="col">Nota miníma</th>
            <th scope="col">Chance de Aprovação?</th>
            <th scope="col">#</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-success text-center" [ngClass]="{'table-danger': aluno.notaMinima > 10}" *ngFor="let aluno of alunos">
            <th scope="row">{{ aluno.id }}</th>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.notaProva1 }}</td>
            <td>{{ aluno.notaProva2 }}</td>
            <td>{{ aluno.notaMinima }}</td>
            <td *ngIf="aluno.notaMinima <= 10">Sim</td>
            <td *ngIf="aluno.notaMinima > 10">Não</td>
            <td><button (click)="excluir(aluno)" type="button" class="btn btn-danger"><span class="fa fa-trash-alt"></span></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>